server:
  port: 8007


logging:
  pattern:
    level: Debug


spring:
  application:
    name: poem
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/poem?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: root
    password: 4525
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB